# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# build / distribution directories
build/
dist/
*.egg-info/

# various
*.log
*.backup
.tox/
.coverage

# runeberg default download directory
downloaded_data/
